<div class = "container">
  <h1 class = "d-flex justify-content-center">Angular Simple Web API Demo</h1>
  <h2 class = "d-flex justify-content-center">Employee Management Portal</h2>
</div>

<!--<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nar">
    <li class="nav-item">
      <button class="m-1 btn btn-light btn-outline-primary" Button label="DepScreen" (click) = "DepScreen=true; EmpScreen=false;">Departments</button>
    </li>
    <li class="nav-item">
      <button class="m-1 btn btn-light btn-outline-primary" Button label="EmpScreen" (click) = "DepScreen=false; EmpScreen=true;">Employees</button>
    </li>
  </ul>
</nav> -->